@charset "UTF-8";
/*
 * This is where you can make custom styles for the visual
 * aspects of your slideshow.
 *
 * You shouldn't do too much custom sizing here, as it may
 * mess up the automatic sizing algorithm.
 */
html {
  min-height: 100%; }

section.TITLE, section.SECTION, section.IMAGE, section.NORMAL {
  text-align: center; }

section.NUMSECTION {
  text-align: center; }
  section.NUMSECTION h1 {
    text-align: right; }
  section.NUMSECTION h1:after {
    content: "▐"; }

a {
  text-decoration: none;
  color: #111111; }

body, li, p, h1, h2, h3, h4, h5, h6, dd, dt {
  color: #111111; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em; }

section.QUOTE {
  text-align: center; }
  section.QUOTE blockquote {
    color: #111111; }
  section.QUOTE blockquote:before {
    content: "“";
    font-size: 500%; }

body.QUOTE {
  background-color: #c4e8ff; }

body.COMMANDLINE {
  background: black; }

body.CODE {
  background: #eee8d5; }

body.BULLETS {
  background-color: #9eb2bf; }

body.NORMAL {
  background-color: #c4e8ff; }

body.TITLE, body.SECTION, body.NUMSECTION {
  background-color: #ffe3c0; }

body.IMAGE {
  background: #ffe3c0; }

section.BULLETS {
  margin-left: 64px; }

section.BULLETS h1 {
  text-align: center; }

section.COMMANDLINE code {
  background: black;
  color: #00ff00; }

section.COMMANDLINE .cli-prompt {
  font-weight: bold;
  color: white; }

section.COMMANDLINE .cli-command {
  color: #00ffff; }

section.CODE code {
  /*
  border-radius: 30px;
  */
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  box-shadow: 0 0.3em 0.2em -0.2em #ddd7c4;
  font-family: 'courier', monospace; }

h1, h2, h3, h4 {
  margin: 0;
  font-family: "Quicksand"; }
  h1 strong, h2 strong, h3 strong, h4 strong {
    font-weight: bold; }
  h1 em, h2 em, h3 em, h4 em {
    font-family: "Quicksand";
    font-style: italic; }

h2 {
  font-size: 90%; }

h3 {
  font-size: 80%; }

p, li {
  font-family: "Quicksand"; }

li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 2em; }

blockquote {
  font-family: "Quicksand";
  line-height: 1em; }

#timer {
  display: none; }
