@charset "utf-8";
/*
 * This is where you can make custom styles for the visual
 * aspects of your slideshow.
 *
 * You shouldn't do too much custom sizing here, as it may
 * mess up the automatic sizing algorithm.
 */
$green:#c4e8ff;
$yellow:#FFE3C0;
$dark-grey:#c4e8ff;
$medium-grey:#FFE3C0;
$light-grey:#888;
$red:#9EB2BF;
$text-color: #111;
$title-font:        "Quicksand";
$title-font-strong: "Quicksand";
$title-font-em:     "Quicksand";
$bullet-font:       "Didot";
$quote-font:        "Didot";

@mixin gradient($from, $to) {
  background-color: $from;
//  background-image: -moz-linear-gradient($from, $to);
//  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
//  background-image: -webkit-linear-gradient($from, $to);
//  background-image: -o-linear-gradient($from, $to);
}

html {
  min-height: 100%;
}
section.TITLE, section.SECTION, section.IMAGE, section.NORMAL {
  text-align: center;
}

section.NUMSECTION {
  text-align: center;
  h1 {
    text-align: right;
  }
  h1:after {
    content: "▐";
  }
}
a {
  text-decoration: none;
  color: $text-color;
}

body, li, p, h1, h2, h3, h4, h5, h6, dd, dt { 
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

section.QUOTE {
  text-align: center;
  blockquote {
    color: $text-color;
  }
  blockquote:before {
    content: "“";
    font-size: 500%;
  }
}

body.QUOTE {
  @include gradient($green,darken($green,20%));
}
body.COMMANDLINE {
  background: black;
}

body.CODE {
  background: #eee8d5;
}

body.BULLETS {
  @include gradient($red,lighten($red,20%));
}
body.NORMAL {
  @include gradient($green,darken($green,20%));
}
body.TITLE, body.SECTION, body.NUMSECTION {
  @include gradient($yellow,lighten($yellow,20%));
}

body.IMAGE {
  background: $yellow;
}

section.BULLETS {
  margin-left: 64px;
}
section.BULLETS h1 {
  text-align: center;
}
section.COMMANDLINE code {
  background: black;
  color: #00ff00;
}

section.COMMANDLINE .cli-prompt {
  font-weight: bold;
  color: white;
}

section.COMMANDLINE .cli-command {
  color: #00ffff;
}

section.CODE code {
  /*
  border-radius: 30px;
  */
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  box-shadow: 0 0.3em 0.2em -0.2em #ddd7c4;
  font-family: 'courier', monospace;
}
h1, h2, h3, h4 {
  margin: 0;
  font-family: $title-font;
  strong {
    font-family: $title-font-strong;
  }
  em {
    font-family: $title-font-em;
  }
}

h2 {
  font-size: 90%;
}
h3 {
  font-size: 80%;
}
p, li {
  font-family: $bullet-font;
}

li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 2em;
}

blockquote {
  font-family: $quote-font;
  line-height: 1em;
}

